<!DOCTYPE HTML>
<!--
  Astral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bodegon INSPT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">

    <!-- Wrapper-->
    <div id="wrapper">

      <!-- Nav -->
      <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Personal</span></a>
        <a href="#users" class="icon solid fa-users"><span>Usuarios</span></a>
        <a href="#food" class="icon solid fa-drumstick-bite"><span>Cotizar</span></a>
        <a href="#drink" class="icon solid fa-wine-glass-alt"><span>Bebidas</span></a>
      </nav>

      <!-- Main -->
      <div id="main">

        <!-- Personal -->
        <article id="home" class="panel intro">
          <header>
            <h1 th:text="${usuario.nombre}" />
            <p>Administrador(a)</p>
            <br/>
            <div th:if="${resumen != null}">
              <h3 th:text="'Recaudacion $' + ${resumen.recaudacion}" />
              <h3 th:text="'Preparacion más pedida: ' + ${resumen.preparacionMasPedida.descripcion}" />
              <h3 th:text="'Bebida más pedida: ' + ${resumen.bebidaMasPedida.descripcion}" />
              <h3 th:text="'Camarero más activo: (' +${resumen.camareroMasPedidos.codigo}+ ') ' + ${resumen.camareroMasPedidos.nombre}" />
            </div>
            <p>
              <a class="button" th:href="'/resumen/'+${usuario.codigo}">Resumen</a>
              <a class="button" href="/logout">Logout</a>
            </p>
          </header>
          <div class="jumplink pic">
            <img src="images/admin.png" alt="" />
          </div>
        </article>

        <!-- Usuarios -->
        <article id="users" class="panel">
          <header>
            <h2>Gestión de Usuarios</h2>
          </header>
          <div th:each="u : ${usuarios}">
            <form action="#users" th:action="@{/editar-borrar-usuario}" method="post">
              <input type="hidden" name="admin" th:value="${usuario.codigo}" />
              <div class="row">
                <div class="col-3 col-12-medium">
                  <input type="text" name="codigo" th:value="${u.codigo}" readonly required />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="text" name="nombre" th:value="${u.nombre}" required />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="password" name="password" th:value="${u.password}" required />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="text" name="rol" th:value="${u.rol}" readonly required />
                </div>
                <div class="col-2 col-12-medium">
                  <input type="submit" name="accion" value="Editar" />
                </div>
                <div th:if="${u.codigo != usuario.codigo}" class="col-2 col-12-medium">
                  <input type="submit" name="accion" value="Borrar" />
                </div>
              </div>
            </form>
          </div>
          <div>
            <form action="#users" th:action="@{/nuevo-usuario}" method="post">
              <input type="hidden" name="admin" th:value="${usuario.codigo}" />
              <div class="row">
                <div class="col-3 col-12-medium">
                    <input type="text" name="codigo" placeholder="Código" required/>
                </div>
                <div class="col-3 col-12-medium">
                  <input type="text" name="nombre" placeholder="Nombre" required />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="password" name="password" placeholder="Password" required />
                </div>
                <div class="col-3 col-12-medium">
                  <select name="rol">
                    <option value="Camarero">Camarero</option>
                    <option value="Cocinero">Cocinero</option>
                  </select>
                </div>
                <div class="col-3 col-12-medium">
                  <input type="submit" value="Nuevo" />
                </div>
              </div>
            </form>
          </div>
        </article>

        <!-- Cotizaciones -->
        <article id="food" class="panel">
          <header>
            <h2>Cotizar Preparaciones</h2>
          </header>
          <div th:each="p : ${preparaciones}">
            <form th:action="@{/cotizar-preparacion}" method="post">
              <input type="hidden" name="admin" th:value="${usuario.codigo}" />
              <input type="hidden" name="id" th:value="${p.id}" />
              <div class="row">
                <div class="col-6 col-12-medium">
                  <input type="text" name="descripcion" th:value="${p.descripcion}" readonly required />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="text" name="precio" th:value="${p.precio}" placeholder="Precio" pattern="[0-9]+([.,][0-9][0-9]?)?" />
                </div>
                <div class="col-3 col-12-medium">
                  <input type="submit" name="accion" value="Cotizar" />
                </div>
              </div>
            </form>
          </div>
        </article>

        <!-- Bebidas -->
        <article id="drink" class="panel">
          <header>
            <h2>Gestionar bebidas</h2>
          </header>
          <div th:each="b : ${bebidas}">
            <form th:action="@{/editar-borrar-bebida}" method="post">
              <input type="hidden" name="admin" th:value="${usuario.codigo}" />
              <div>
                <input type="hidden" name="id" th:value="${b.id}" />
                <div class="row">
                  <div class="col-6 col-12-medium">
                    <input type="text" name="descripcion" th:value="${b.descripcion}" readonly required />
                  </div>
                  <div class="col-2 col-12-medium">
                    <input type="text" name="precio" th:value="${b.precio}" placeholder="Precio" pattern="[0-9]+([.,][0-9][0-9]?)?" />
                  </div>
                  <div class="col-12-medium">
                    <input type="submit" name="accion" value="Editar" />
                  </div>
                  <div class="col-12-medium">
                    <input type="submit" name="accion" value="Borrar" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div>
            <form th:action="@{/nueva-bebida}" method="post">
              <input type="hidden" name="admin" th:value="${usuario.codigo}" />
              <div>
                <div class="row">
                  <div class="col-6 col-12-medium">
                    <input type="text" name="descripcion" placeholder="Nombre" required />
                  </div>
                  <div class="col-2 col-12-medium">
                    <input type="text" name="precio" placeholder="Precio" pattern="[0-9]+([.,][0-9][0-9]?)?" />
                  </div>
                  <div class="col-3 col-12-medium">
                    <input type="submit" name="accion" value="Nueva" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>

      <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>&copy; UTN-INSPT.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
