<!DOCTYPE HTML>
<!--
  Astral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bodegon INSPT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">

    <!-- Wrapper-->
    <div id="wrapper">

      <!-- Nav -->
      <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Personal</span></a>
        <a href="#order" class="icon solid fa-edit"><span>Comanda</span></a>
      </nav>

      <!-- Main -->
      <div id="main">

        <!-- Personal -->
        <article id="home" class="panel intro">
          <header>
            <h1 th:text="${usuario.nombre}" />
            <p>Camarero(a)</p>
            <br/>
            <p><a class="button" href="/logout">Logout</a></p>
          </header>
          <div class="jumplink pic">
            <img src="images/camarero.png" alt="" />
          </div>
        </article>

        <!-- Comanda -->
        <article id="order" class="panel">
          <header>
            <h2>Gestión de Comandas</h2>
          </header>
          <div th:each="c : ${comandas}">
            <h3 th:text="'Mesa: ' + ${c.mesa}" />
            <div th:each="i : ${c.items}">
              <form th:action="@{/quitar-item-comanda}" method="post">
                <input type="hidden" name="item" th:value="${i.id}" />
                <input type="hidden" name="comanda" th:value="${c.id}" />
                <div class="row">
                  <div class="col-6 col-12-medium">
                    <input type="text" name="descripcion" th:value="${i.descripcion}" readonly />
                  </div>
                  <div class="col-12-medium">
                    <input type="submit" name="accion" value="Quitar" />
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form th:action="@{/agregar-item-comanda}" method="post">
                <input type="hidden" name="comanda" th:value="${c.id}" />
                <div class="row">
                  <div class="col-6 col-12-medium">
                    <select name="item">
                      <option th:each="m : ${menu}" th:value="${m.id}" th:text="${m.descripcion}" />
                    </select>
                  </div>
                  <div class="col-12-medium">
                    <input type="submit" name="accion" value="Agregar" />
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form th:action="@{/finalizar-comanda}" method="post">
                <input type="hidden" name="comanda" th:value="${c.id}" />
                <input type="submit" name="accion" value="Cancelar" />
                <input type="submit" name="accion" value="Finalizar" />
              </form>
            </div>
          </div>
          <div>
            <form th:action="@{/nueva-comanda}" method="post" >
              <input type="hidden" name="camarero" th:value="${usuario.codigo}" />
              <div class="row">
                <div class="col-2 col-12-medium">
                  <input type="text" name="mesa" placeholder="Mesa" pattern="[0-9]+" required />
                </div>
                <div class="col-12-medium">
                  <input type="submit" name="accion" value="Nueva comanda" />
                </div>
              </div>
            </form>
          </div>
        </article>

      </div>
      <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>&copy; UTN-INSPT.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
